body {
    background-color: #ffffff;
    margin: 30px;
    padding: 10px;
}
.cabecalho{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
}